*.o
recursion_depth/rust/recursion
rot13/c/rot13
triangle/triangle
input_is_terminal/rust/isatty
count_in_octal/rust/octal
integer_sequence/rust/ints
fileio/rust/fileio
output_is_terminal/rust/isatty
empty_program/rust/empty
command_line_arguments/rust/args
random_numbers/rust/rand
complex/rust/complex
